main {
  padding: 30px;
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
  font-size: 0;
  text-align: center

}

.inner {
  height: 500px;
  display: inline-block;
  font-size: 0;
  max-width: 800px;
  /*center a container within another container:these are working together*/
  width:80%;
  margin:0 auto;

}

.inner-one {
  background-color: green;
  width: 48%;
  height: 200px;
  border: 1px solid black
}

.inner-two {
  background-color: blue;
  width: 48%;
  height: 200px;  
  border: 1px solid black;
}

.inner-three {
  background-color: gray; 
  width: 32%; 
  height: 300px;
  border: 1px solid black;

}

.inner-four {
  background-color: black;
  width: 32%;
  height: 300px;
  border: 1px solid;
 
}

.inner-five {
  background-color: orange;
  width: 32%;
  height: 300px;
  border: 1px solid black;

}
